[Unit]
Description=Our awesome server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/var/lib/jenkins/workspace/M7011E-logic
ExecStart=python3 python/index.py

[Install]
WantedBy=default.target