<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<script src="https://kit.fontawesome.com/bd50140c14.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="/static/admin_api.js"></script>
	<script src="/static/dragablegauges.js"></script>
	<link rel="stylesheet" href="/static/admin_dashboard.css">

</head>
<body>
	<div class="topnav">
		<a class="active" href="#home">Home</a>
		<a href="#about">About</a>
		<a href="#contact">Contact</a>
		<div class="login-container">
			<a>{{user}}</a>
			<a href="/settings"><i class="fas fa-cog"></i></a>
			<a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
		</div>
	</div>






	<div class="timelinecontainer">

		<div class =  "timelinedate">
        	<h1>2021/01/01</h1>
   		</div>



    </div>



	<div class ="contentcontainer">

		<div class="contentdiv left">
			<h1>Social Panel</h1>



			<div class = "messagecentercontainer">
				<h2>Message Center</h2>

				<div class = "messagecenterdiv">
					<div class = "messagediv">
						 <form action="/action_page.php" id="messageform">

							 <label for="user">Choose a User:</label>
							 <br>
							<select id="user" name="userlist" form="messageform">
							  <option value="User1">User1</option>
							  <option value="User2">User2</option>
							  <option value="User3">User3</option>
							  <--! Ladda in dynamisk namnen på användare? -->
							</select>

							 <br>

							  <label for="prio">Choose the Priority:</label>
							 <br>
							  <select id="prio" name="priolist" form="messageform">
							  <option value="high">High</option>
							  <option value="medium">Medium</option>
							  <option value="low">Low</option>
							</select>

							 <br>

							 <textarea class="messageinput" rows="4" cols="18" name="message" form="messageform"></textarea>

							 <br>
							  <input class="messagecenterbutton" value="Send Message"type="submit">
						 </form>

							<br>


					</div>

				</div>


			</div>


			<div class = "notificationcentercontainer">
				<h2>Notification Center</h2>

				<div class = "notificationcenterdiv">
					<h3>User Messages</h3>
						<textarea class="messageoutput" rows="4" cols="18" name="message" form="messageform"></textarea>
					   <input class="messagecenterbutton" value="Ack Message"type="submit">


				</div>

			</div>

		</div>


		<div class="contentdiv middle">
			<h1>Profile Page</h1>

			<div class = "adminboxcontainer">
				<div class = "adminphotocontainer">
						<img src="static/assets/uploadedPictures/adminphotos/images.PNG" width="100%" height = 100%>

				</div>
				<div class ="admininformationcontainer">
					<h2>Admin Name</h2>
					<p>Mr Admin</p>

					<h2>Admin of the Year</h2>
					<p>10 times</p>

					<div class="uploadadminphotobuttoncontainer">
						<button class="uploadbutton" onclick="upload()">Upload New Admin Photo</button>

					</div>

				</div>

			</div>

			<div class = "userlistdiv">
				<h2>Prosumer List</h2>

				<table class="usertable">
					<tr>
						<th>UserID</th>
						<th>Status</th>
						<th>Go To User's Page</th>
						<th>Block for selling</th>
						<th>Update Credentials</th>
						<th>Delete Account</th>
						<th>   </th>
						<th>IP</th>
						<th>PORT</th>
						<th>Last Logged in</th>
					</tr>

					<tr>
						<td>42</td>
						<td>Offline</td>
						<td>Go To</td>
						<td>Block</td>
						<td>Update</td>
						<td>Delete</td>
						<td>   </td>
						<td>192.168.1.1</td>
						<td>5050</td>
						<td>2021/11/11 13:54:21</td>
					</tr>

					<tr>
						<td>111</td>
						<td>Offline</td>
						<td>Go To</td>
						<td>Block</td>
						<td>Update</td>
						<td>Delete</td>
						<td></td>
						<td>192.168.1.1</td>
						<td>5050</td>
						<td>2021/11/11 13:54:21</td>
					</tr>

					<tr>
						<td>453</td>
						<td>Online</td>
						<td>Go To</td>
						<td>Block</td>
						<td>Update</td>
						<td>Delete</td>
						<td></td>
						<td>192.168.1.1</td>
						<td>5050</td>
						<td>2021/11/11 13:54:21</td>
					</tr>

					<tr>
						<td>13</td>
						<td>BLACKOUT</td>
						<td>Go To</td>
						<td>Block</td>
						<td>Update</td>
						<td>Delete</td>
						<td></td>
						<td>192.168.1.1</td>
						<td>5050</td>
						<td>2021/11/11 13:54:21</td>
					</tr>

					<tr>
						<td>87</td>
						<td>Online</td>
						<td>Go To</td>
						<td>Block</td>
						<td>Update</td>
						<td>Delete</td>
						<td></td>
						<td>192.168.1.1</td>
						<td>5050</td>
						<td>2021/11/11 13:54:21</td>
					</tr>

				</table>

			</div>


		</div>

		<div class="contentdiv right">
			<h1>Monitoring Panel</h1>

				<div class = "powerplantformcontainer">
					<form action="/action_page.php" id="powerplantform">

						<label for="powerplant">Select a Powerplant:</label>
						<br>
						<select id="powerplant" name="powerplantlist" form="powerplantform">
							<option value="Powerplant1">Powerplant1</option>
							<option value="Powerplant1">Powerplant2</option>
							<option value="Powerplant1">Powerplant3</option>
							  <--! Ladda in dynamisk namnen på powerplants? -->
						</select>


							<br>
						<input class="powerplantformbutton" value="Select Powerplant"type="submit">
					</form>




			<div class="gaugecontainer">




				<div draggable="true" class="gauge">
					<p>Power Plant Production </p>
					<meter class="gaugemeter" value="2" min="0" max="10"></meter>
				</div>



				<div draggable="true" class="gauge">
					<p>Power Plant Status</p>
					<p id="statustext"> ONLINE/RUNNING/STOPPED </p>
				</div>


				<div draggable="true" class="gauge">
					<p>MARKET DEMAND</p>
					<meter class="gaugemeter" value="8" min="0" max="10"></meter>

				</div>

				<div draggable="true" class="gauge">
					<p>MODELLED ELECTRICITY PRICE</p>
					100kr

				</div>
				<div draggable="true" class="gauge">
					<p>CURRENT ELECTRICITY PRICE</p>
					101kr

				</div>

			<div class="slidercontainer">
				<p>Current Electricity Price Slider</p>
				<input type="range" min="1" max="100" value="50" class="slider" id="currentelectricityprice">
				<p id="currentelectricitypriceText">2</p>

				<p>Power Plant Production  Slider</p>
				<input type="range" min="1" max="100" value="50" class="slider" id="powerplantproduction">
				<p id="powerplantproductionText">1</p>

				<p>Market/Buffer Slider</p>
				<input type="range" min="1" max="100" value="50" class="slider" id="marketRatio">
				<p id="marketRatioText">2</p>

			</div>


			</div>

		</div>



	</div>
    </div>


<!--  Simulator Updater-->
	<script>
		var conUpdater;
		updateAll(conUpdater,10,20);
	</script>

</body>
</html>
