<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/login.css">
    <title>Signup</title>
</head>
<body>
<form action="/create_user" method="POST">

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Enter Password" name="password-repeat" required>

        <label for="postalcode"><b>Postalcode</b></label>
        <input type="text" placeholder="Enter Postalcode" name="postalcode" required>
<!--
        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" required>
-->
        <p style="color:red">{{error}}</p>
        <button type="submit">Create user</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" onclick="window.location.href='/'">Cancel</button>
    </div>
</form>
</body>
</html>
