<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <title>Power Plants</title>
</head>

<body>
  <h1>Power Plants</h1>
  <!--
   This is the dynamic table where powerplants are display.
   -->
  <table>
    <tr>
      <th>Energy Type</th>
      <th>City</th>
      <th>Construction Year</th>
    </tr>

    <tr>
    <td>Coal</td>
    <td>Stockholm</td>
    <td>1974</td>
    </tr>
  </table>
  <br/>

  <!--
    This contains the form that we will use to "POST /powerplant" using our API.
   -->
  <form action="/powerplant" method="post">
    Energy Type:
    <input type="text" name="energytype">
    <br/> City:
    <input type="text" name="city">
    <br/> Construction Year:
    <input type="text" name="constructionyear">
    <br/>
    <input type="submit" value="Submit">
  </form>

  <!--
    The script runs on every page load and fetches new items and adds them to the table.
   -->
  <script>
    powerplantTable = document.querySelector("table")

    /*
    Use the Fetch API and perform GET call to /powerplant. A JSON will be returned.
    [
      {"type":"...","location":"...","constructionyear":"..."},
      {"type":"...","location":"...","constructionyear":"..."},
      {"type":"...","location":"...","constructionyear":"..."}
    ]
    */
      
    fetch("/powerplant")
      .then(response => response.json())
      .then(powerplantList => {
        
        // Fetch the list and iterate upon it.
        powerplantList.forEach(plant => {
          
          // Create table row
          row = document.createElement("tr")

          // Create table data elements 
          energytype = document.createElement("td")
          energytype.innerHTML = plant.energytype
          city = document.createElement("td")
          city.innerHTML = plant.city
          constructionyear = document.createElement("td")
          constructionyear.innerHTML = plant.constructionyear

          // Add the data elements to the row
          row.appendChild(energytype)
          row.appendChild(city)
          row.appendChild(constructionyear)
            
          // Add row to table
          powerplantTable.appendChild(row)
        })
      })
  </script>
</body>

</html>