<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/oskar.css">
    <title>Insert Title</title>

</head>
<body>

<div class="topbar">
    <h1>Simulator</h1>
</div>

<div class="navbar">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>

</div>

<div class="timelinecontainer">

    <div class =  "timelinedate">
        <h1>2021/01/01</h1>
    </div>


    <div class = "timelinebuttoncontainer">



    <div class = "timelinebuttondiv playbutton">
          <button class="timelinebutton" onclick="play()">
            <img src="static/assets/playbuttonicon.jpg" width="100%" height = 100%>
          </button>

    </div>
    <div class = "timelinebuttondiv pausebutton">
         <button class="timelinebutton" onclick="pause()">
             <img src="static/assets/pausebuttonicon.jpg" width="100%" height = 100%>
         </button>
    </div>
    <div class = "timelinebuttondiv stopbutton">
          <button class="timelinebutton" onclick="stop()">
              <img src="static/assets/stopbuttonicon.jpg" width="100%" height = 100%>
          </button>
    </div>
</div>

    </div>



<div class ="container">

    <div class="contentdiv left">
        <p>Left</p>

    </div>


    <div class="contentdiv middle">
        <p>Middle</p>

    </div>

    <div class="contentdiv right">
        <p>Right</p>

    </div>



</div>



<script>
function play() {

}
function pause() {

}
function stop() {

}
</script>
</body>



</html>