<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<script src="https://kit.fontawesome.com/bd50140c14.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="/static/time_chart.js"></script>
	<link rel="stylesheet" href="/static/user_dashboard.css">

</head>
<body>
	<div class="topnav">
		<a class="active" href="#home">Home</a>
		<a href="#about">About</a>
		<a href="#contact">Contact</a>
		<div class="login-container">
			<a id="currentUser">{{user}}</a>
			<a href="/settings"><i class="fas fa-cog"></i></a>
			<a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
		</div>
	</div>






	<div class="timelinecontainer">

		<div class =  "timelinedate">
        	<h1>2021/01/01</h1>
   		</div>

<!--
    	<div class = "timelinebuttoncontainer">



    		<div class = "timelinebuttondiv playbutton">
            	<button class="timelinebutton" onclick="play()">
            			<img src="static/assets/playbuttonicon.jpg" width="100%" height = 100%>
          		</button>
    		</div>

    		<div class = "timelinebuttondiv pausebutton">
         		<button class="timelinebutton" onclick="pause()">
             		<img src="static/assets/pausebuttonicon.jpg" width="100%" height = 100%>
         		</button>
    		</div>

    		<div class = "timelinebuttondiv stopbutton">
          		<button class="timelinebutton" onclick="stop()">
          	  <img src="static/assets/stopbuttonicon.jpg" width="100%" height = 100%>
          		</button>
    		</div>

		</div>
-->
    </div>



	<div class ="contentcontainer">

		<div class="contentdiv left">
			<h1>Social Panel</h1>

			<div class = "friendlistdiv">
				<h2>Friends List</h2>

					<table class="usertable">
						<tr>
							<th>UserID</th>
							<th>Status</th>
							<th>Zip Code</th>
						</tr>

						<tr>
							<td>42</td>
							<td>Offline</td>
							<td>Go To</td>
						</tr>

						<tr>
							<td>111</td>
							<td>Offline</td>
							<td>Go To</td>
						</tr>

						<tr>
							<td>453</td>
							<td>Online</td>
							<td>Go To</td>
						</tr>

						<tr>
							<td>13</td>
							<td>BLACKOUT</td>
							<td>Go To</td>
						</tr>

						<tr>
							<td>87</td>
							<td>Online</td>
							<td>Go To</td>
						</tr>

					</table>
				<!-- scrollbar -->
			</div>


			<div class = "messagecentercontainer">
				<h2>Message Center</h2>

				<div class = "messagecenterdiv">
					<div class = "messagediv">
						 <form action="/action_page.php" id="messageform">

							 <label for="user">Choose a User:</label>
							 <br>
							<select id="user" name="userlist" form="messageform">
							  <option value="User1">User1</option>
							  <option value="User2">User2</option>
							  <option value="User3">User3</option>
							  <--! Ladda in dynamisk namnen på användare? -->
							</select>

							 <br>

							 <textarea class="messageinput" rows="4" cols="18" name="message" form="messageform"></textarea>

							 <br>
							  <input class="messagecenterbutton" value="Send Message"type="submit">
						 </form>

							<br>


					</div>

				</div>


			</div>


			<div class = "notificationcentercontainer">
				<h2>Notification Center</h2>

				<div class = "notificationcenterdiv">
					<h3>User Messages</h3>
						<textarea class="messageoutput" rows="4" cols="18" name="message" form="messageform"></textarea>
					   <input class="messagecenterbutton" value="Ack Message"type="submit">


				</div>

			</div>


		</div>


		<div class="contentdiv middle">
			<h1>Household Panel</h1>

			<div class = "houseimagecontainer">
					<img src="static/assets/uploadedPictures/houses/houseexample.jpg" width="100%" height = 100%>

			</div>
			<div class ="houseinformationcontainer">
				<h3>Household Name</h3>
				<p>D HUSET</p>

				<h3>Zip Code</h3>
				<p>976 33</p>

				<h3>Household Finances</h3>
				<p>24020 kr</p>


				<div class="uploadhousephotobuttoncontainer">
					<button class="uploadbutton" onclick="upload()">Upload New House Photo</button>

				</div>

			</div>

			<div class ="simulatorcontainer">
				<h2>Simulator Data</h2>
				<div class = "rawdataoutputdiv">
                	<h4 id="rawDataOutput_DATE"></h4>
					<p id="rawDataOutput_OUTPUT1"></p>
					<p id="rawDataOutput_OUTPUT2"></p>
					<p id="rawDataOutput_OUTPUT3"></p>
				</div>
			</div>

			<div class ="graphcontainer">
				<h2>Graphs</h2>
	                <div id="charts" style="width:100%;max-width:800px;margin:auto;margin-top:20px;background-color:white;padding:10px;box-shadow:0 0 10px;border-radius:10px">
                        <canvas id="consumption" style="width:100%"></canvas>
	                </div>
			</div>



		</div>

		<div class="contentdiv right">
			<h1>Monitoring Panel</h1>

			<div class="gaugecontainer">


				<div draggable="true" class="gauge">
					<p>CONSUMPTION </p>
					<meter class="gaugemeter" value="9" min="0" max="10"></meter>
				</div>

				<div draggable="true" class="gauge">
					<p>PRODUCTION</p>
					<meter class="gaugemeter" value="5" min="0" max="10"></meter>

				</div>

				<div draggable="true" class="gauge">
					<p>WINDMETER</p>
					<meter class="gaugemeter" value="6" min="0" max="10"></meter>
				</div>

				<div draggable="true" class="gauge">
					<p>NET PRODUCTION</p>
					<p>1000kr</p>

				</div>

				<div draggable="true" class="gauge">
					<p>ENERGY BUFFER SIZE</p>
					<meter class="gaugemeter" value="3" min="0" max="10"></meter>
				</div>

				<div draggable="true" class="gauge">
					<p>CURRENT ELECTRICITY PRICE</p>
					<p>10kr</p>
				</div>



			<div class="slidercontainer">

				<p>Buying/Buffer Ratio Slider</p>
				<input type="range" min="1" max="100" value="50" class="slider" id="buyingRatio">
				<p>Selling/Buffer Ratio Slider</p>
				<input type="range" min="1" max="100" value="50" class="slider" id="sellingRatio">

			</div>


			</div>

		</div>



	</div>

	<!--  Simulator Updater-->
	<script>
		var con = genTimeChart("consumption",0,200);
		var conUpdater;
		updateAll(conUpdater,con,1,100,3,20);
	</script>

	<!--  https://web.dev/drag-and-drop/ -->
	<script>

	document.addEventListener('DOMContentLoaded', (event) => {

	  var dragSrcEl = null;

	  function handleDragStart(e) {
		this.style.opacity = '0.4';

		dragSrcEl = this;

		e.dataTransfer.effectAllowed = 'move';
		e.dataTransfer.setData('text/html', this.innerHTML);
	  }

	  function handleDragOver(e) {
		if (e.preventDefault) {
		  e.preventDefault();
		}

		e.dataTransfer.dropEffect = 'move';

		return false;
	  }

	  function handleDragEnter(e) {
		this.classList.add('over');
	  }

	  function handleDragLeave(e) {
		this.classList.remove('over');
	  }

	  function handleDrop(e) {
		if (e.stopPropagation) {
		  e.stopPropagation(); // stops the browser from redirecting.
		}

		if (dragSrcEl != this) {
		  dragSrcEl.innerHTML = this.innerHTML;
		  this.innerHTML = e.dataTransfer.getData('text/html');
		}

		return false;
	  }

	  function handleDragEnd(e) {
		this.style.opacity = '1';

		items.forEach(function (item) {
		  item.classList.remove('over');
		});
	  }


	  let items = document.querySelectorAll('.gaugecontainer .gauge');
	  items.forEach(function(item) {
		item.addEventListener('dragstart', handleDragStart, false);
		item.addEventListener('dragenter', handleDragEnter, false);
		item.addEventListener('dragover', handleDragOver, false);
		item.addEventListener('dragleave', handleDragLeave, false);
		item.addEventListener('drop', handleDrop, false);
		item.addEventListener('dragend', handleDragEnd, false);
	  });
	});

	</script>

</body>
</html>
